.left {
    display: inline-block;
    height: 100%;
    ;
}

.right {
    display: inline-block;
    width: 100%;
    height: 100%;
}

:host /deep/ .ui-datatable tbody>tr.ui-widget-content.ui-state-highlight {
    color: black;
}

 :host/deep/ .ui-datatable-thead tr .ui-state-default {
    background-color: #008e77;
    color: #fff;
    line-height: 1.42857143;
}